<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h1>Ingreso de Clientes Abonados</h1>
      <div class="form-floating mb-3">
        <input
          required
          type="text"
          class="form-control"
          id="name"
          placeholder="Nombre"
          name="name"
        />
        <label for="name">Nombre</label>
      </div>

      <div class="form-floating mb-3">
        <input
          required
          type="text"
          class="form-control"
          id="code"
          placeholder="Codigo Urbano"
          name="code"
        />
        <label for="code">Codigo Urbano</label>
      </div>

      <button
        id="addingCustomer"
        class="btn btn-outline-primary"
      >Ingresar</button>
    </div>

  </div>
</div>
<script src="/js/customers.js"></script>